* body {
    background: #000000;
    font-family: 'Roboto', sans-serif;
}

:root {
    --fundo-card: #1B2226;
    --texto-primario: rgba(255, 255, 255, 0.9);
    --texto-secundario: rgba(255, 255, 255, 0.6);
    --primario: #70B5F9;
    --texto-escuro: rgba(0, 0, 0, 0.75);
    --input: #38434F;
}

header {    
    background: var(--fundo-card);
    color: var(--texto-primario);
}

.caixa {
    width: 1221px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.icone-pesquisa {    
    display: flex;
    margin: 9px 0;
}

.logo {
    margin-right: 8px;
    width: 34px;
}

.input-pesquisa {
    width: 280px;
    height: 34px;
    background: var(--input);
    border: none;
    border-radius: 4px;
    padding-left: 42px;
    font-size: 14px;
    font-weight: 400;
    color: var(--texto-primario);
}

.icone-busca {
    position: relative;
    right: 305px;
}

.nav-icones {
    display: flex;    
}

.icones {
    width: 80px;
    margin: 9px 4px 0 4px;
    text-align: center;
    font-size: 12px;
}

.icones p {
    margin-bottom: 6px;
}

.icones:hover {
    border-bottom: 3px solid var(--texto-primario);
}

.icones img {
    margin: 0 auto;
}

.icone-notificacoes {
    margin-right: 10px;
}

hr {
    height: 54px;
    margin: 0;
}

/*fim do header*/

.card-capa {
    background: var(--fundo-card);
    width: 780px;
    height: 468px;
    border-radius: 16px;
    left: 154px;
    top: 76px;
    margin-top: 24px;
}

.img-perfil {
    position: absolute;    
    left: 24px;
    top: 198px;
}

.inform {
    color: var(--texto-primario);
    margin-top: 50px;
    margin-left: 24px;
    margin-bottom: 13px;
}

h1, h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

h2 {
    font-size: 16px;
}

.ling-adq, p {
    color: var(--texto-secundario);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.info-cont, .seg-con {
    color: var(--primario);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.seg-con {
    font-weight: 500;
}

.botoes {
    display: flex;
    font-weight: 14px;
}

.botao-mensagem, .botao-mais {
    border: 2px solid var(--primario);
    background: var(--primario);
    color: var(--texto-escuro);
    padding: 6px 29px;
    border-radius: 15px;
    margin-right: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

.botao-mais {
    background: none;
    color: var(--primario);
}

.miniatura {
    position: absolute;
    left: 503px;
    top: 335px;
}

.card-lateral {
    width: 320px;
    height: 546px;
    background: #70B5F9;
}
