@import url('./navbar.css');
@import url('./atividades.css');
@import url('./sobre.css');
@import url('./destaque.css');

* body {
    background: #000000;
    font-family: 'Roboto', sans-serif;
}

:root {
    --fundo-card: #1B2226;
    --texto-primario: rgba(255, 255, 255, 0.9);
    --texto-secundario: rgba(255, 255, 255, 0.6);
    --primario: #70B5F9;
    --texto-escuro: rgba(0, 0, 0, 0.75);
    --input: #38434F;
}

/*fim do header*/

.card-capa {
    background: var(--fundo-card);
    width: 780px;
    height: 468px;
    border-radius: 16px;
    left: 154px;
    top: 76px;
    margin-top: 24px;
}

